<div class="p-4 overflow-hidden">
    <div class="row gx-3 " [@divAnimation]="state">
        <div class="col-md-4">
            <div class="myImage">
                <img class="w-100 h-100" src="./assets/file.png" alt="">
            </div>
        </div>
        <div class="col-md-8 text-white p-5 ">
            <div class="aboutMe">
                <!-- <p class="visit">VISIT MY PORTFOLIO & HIRE ME</p> -->

                <ngx-typed-js [strings]="['VISIT MY PORTFOLIO `&` HIRE ME.']" [loop]="false" [showCursor]="false"  [typeSpeed]="50">
                    <span class="visit typing"></span>
                 </ngx-typed-js>

                <h2 class="mb-4">About Me</h2>
                <p>Hello! I’m Yossef Magdy. Front-End Developer with over 1 years of experience specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Having an in-depth knowledge including advanced HTML5, CSS, CSS3, SASS, BootStrap5, JSON, XML, JavaScript, JQuery, Angular +2.</p>



                    

                <button class="DownloadBtn mt-4" ><a href="./assets/YossefMagdy-Frontend developer.pdf" download="">DOWNLOAD MY CV </a></button>
            </div>
 
        </div>
    </div>
</div>