<header class="">
    <div class=" py-3 header">
        <div class="row">
            <div class="info col-md-6 ">
                
                    <div class="image">
                        <img class="w-100" src="./assets/Myphoto.jpg" alt="">
                    </div>
                    
                    <div class="name p-3 text-white">
                        <h2 class="d-flex align-items-center ">Yossef Magdy  </h2>
                        <span class="">I am a Front-end Developer</span>

                        <div class="social-Media mt-5">
                            <ul class="d-flex list-unstyled">
                                <li title="facebook"><a href="https://web.facebook.com/YousseFfMagdi" target="_blank"><i class="fa-brands fa-facebook-f "></i></a></li>
                                <li title="linkedin" class="mx-3"><a href="https://www.linkedin.com/in/yossef-magdi/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> </li>
                                <li title="github"> <a href="https://github.com/yossefmagdy" target="_blank"><i class="fa-brands fa-github" ></i></a></li>
                            </ul>
                        </div>
                    </div>
                
            </div>
            <div class="PersonalInfo col-md-6 text-white d-flex align-items-center">
                <div>
                    <div class="contactInfo">
                        <div>
                            <h6>EMAIL</h6>
                            <p><a class="text-decoration-none" href="mailto:Y.f.magdy@gmail.com">Y.f.magdy&#64;gmail.com</a></p>
                        </div>
                        <div class="phone">
                            <h6>PHONE</h6>
                            <p>01149929873</p>
                        </div>
                    </div>
                    <div class="contactInfo2">
                        <div>
                            <h6>LOCATION</h6>
                            <p>El-obour,Egypt</p>
                        </div>
    
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>