@import '../../../variables';

.header{
    background-color: var(--SecondryBackground);
    margin-top: 150px;
    border-radius: 10px;
}
.SideBar,.content{
    background-color: var(--SecondryBackground);
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.082);
}
.app{
    position: relative;
}
.index{
    z-index: 999;
}