:root{
    --primary:#878e99;  
    --Secondry:#c4cfde;
    --Onhover:#ff014f; 
    --MainBackground:#1d1e24;
    --SecondryBackground:#212428;
    --AlertBox:rgba(255, 0, 3, 0.1215686275);
    --alertText:#f10;
    --inputBackground:#191B1E;
}


