@import '../../../variables';

.resume{
    padding: 40px 40px;
}
.titleTag{
    color: var(--Secondry);
}   

.spacer{
    width: 80%;
    height: 5px;
    color: black;
}

.content{
    background: var(--MainBackground);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.186);
    transition: 1s;
    h3{
        color: var(--Secondry);

    }
    span{
        color: var(--primary);
    }
}


.Date{
    color: var(--Onhover);
    margin-top: 10px;
    i{
        color: var(--primary);
    }
}

.location{
    color: var(--Onhover) !important;
    font-size: 20px;

}

.postions{
    position: relative;
   margin-inline-start: 40px;   
}

.postions::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    top: 20%;
    left: -34px;
    border-radius: 50%;
}


@media (max-width:397px){
    .resume{
        padding:20px 10px ;
    }
}